
body {
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:linear-gradient(to right, rgb(244,159,245), rgb(255,184,23));
}
.container {
    margin :auto;
    display : flex;
    flex-direction:column;
    align-items:center;
}
button {
    padding:1rem;
    background-color:skyblue;
    font-weight:bold;
}
#coin {
    position:relative;
    height:15rem;
    width:15rem;
    margin:2rem 0rem;
    transform-style:preserve-3d;
}
#coin div {
    width:100%;
    height:100%;
    border:2px solid black;
    border-radius:50%;
    position:absolute;
    background-size:contain;
    backface-visibility:hidden;
}
.headsClass {
    background-image:url(heads.jpeg);
    background-size:cover;
    background-position:center;
    height: max-content;
    width: max-content;
    background-repeat:no-repeat;
}
.animate-heads {
    animation:flipHeads 3s;
    animation-fill-mode:forwards;
}
@keyframes flipHeads {
    from {
        transform:rotateY(0deg);
    }
    to {
        transform:rotateY(1800deg);
    }
}
.tailsClass {
    background-image:url(tails.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    height: max-content;
    width: max-content;
    transform:rotateY(-180deg);
}
.animate-tails {
    animation:flipTails 3s;
    animation-fill-mode:forwards;
}
@keyframes flipTails {
    from {
        transform:rotateY(0deg);
    }
    to {
        transform:rotateY(1620deg);
    }
}